.content--area {
	max-width: 1000px;
	margin: auto;
	position: relative;
	&:after {
		content: '';
		@include clearfix();
	}

	img {
		max-width: 100%;
		height: auto;
	}
	img.alignright {float:right; margin:0 0 1em 1em;}
	img.alignleft {float:left; margin:0 1em 1em 0;}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
	a img.alignright {float:right; margin:0 0 1em 1em;}
	a img.alignleft {float:left; margin:0 1em 1em 0;}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto;}

	&.is-left {

	}
}
article {
	a {
		color: #444;
		text-decoration: underline;

		&:hover {
			opacity: 0.7;
		}
	}
}

.content--area--large {
	&:after {
		content: '';
		@include clearfix();
	}



	img {
		max-width: 100%;
		height: auto;
	}
	img.alignright {float:right; margin:0 0 1em 1em;}
	img.alignleft {float:left; margin:0 1em 1em 0;}
	img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
	a img.alignright {float:right; margin:0 0 1em 1em;}
	a img.alignleft {float:left; margin:0 1em 1em 0;}
	a img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
}

.column-blog {
	position: relative;
	&:after {
		content: '';
		@include clearfix();
	}
}
.column-blog {
	float: left;

	&.column-large {
		width: 100%;
		margin-bottom: 3em;
	}
	&.column-small {
		width: 100%;
	}
}
@media(min-width: $md) {
	.column-blog {
		float: left;

		&.column-large {
			width: 62%;
			margin-bottom: 0;
			margin-right: 3%;
		}
		&.column-small {
			width: 35%;
		}
	}
}

@media(min-width: $lg) {
	.column-blog {
		float: left;

		&.column-large {
			width: 72%;
		}
		&.column-small {
			width: 25%;
		}
	}
}