.content--area {
	
}
.has-form {
	max-width: 750px;
}
.form-input {
	position: relative;
	width: 100%;
	margin-bottom: 2em;

	label {
		font-size: 0.8em;
		z-index: -1;
		position: relative;
	}

	input {
		width: calc(100% - 0.6em);
		height: 50px;
		background: #ddd;
		padding-left: 0.6em;
		font-size: 1em;
		font-family: $sansPro;

		&:focus, &:active {
			+ label {
				top: -45%;
				transition: all 250ms ease;
				font-size: 0.9em;
			}
		}
		&.is-filled {
			+ label {
				top: -45%;
				transition: all 250ms ease;
				font-size: 0.9em;
		
			}
		}
	}

	label {
		position: absolute;
		z-index: 4;
		display: inline-block;
		top: 50%;
		transition: all 250ms ease;
		left: 0.3em;
		transform: translateY(-50%);
	}
}

textarea {
	background: #ddd;
	height: 180px;
}
.has-textarea {
	margin-bottom: 2em;
	textarea {
		padding-left: 0.6em;
		font-size: 1em;
		padding-top: 0.6em;
		width: calc(100% - 0.6em);
	}
}

.form-btn {
	display: inline-block;
	margin-top: 0;
	.cta {
		cursor: pointer;
		font-size: 0.8em;
		padding: 1.6em 5em;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
	}
}

.form-content {
	padding-bottom: 3em;
}
.social--icons {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin-right: 0.6em;
		}

		a {
			color: #444444;
		}
	}
}