.cta {
  display: inline-block;
  background: $primaryColor;
  padding: 0.7em 2em;
  margin-top: 0.5em;
  color: #444;
  font-weight: 700;
  text-transform: uppercase;
}
.is-y {
  background: $primaryColor;
  padding: 0.4em 0em;
}