.cta {
  display: inline-block;
  background: $primaryColor;
  padding: 0.7em 2em;
  margin-top: 0.5em;
  color: #444;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  backface-visibility: hidden;
  transition: color 200ms, background-color 200ms ease;

  &:active {
    top: 1px;
  }
  &:hover {
    color: $primaryColor;
    background-color: #444;

    .sleeve-link {
      width: 100%;
      left: 0; right: auto;
    }
  }
}
.link-text {
  position: relative;
  z-index: 5;
}



