html {
  position: relative; 
  opacity: 0;
  // transform: translateY(20px);
  transition: opacity 500ms, transform 500ms ease;
  
  &.is-arrived {
    opacity: 1;
    // transform: translateY(0px);
  }
  &.is-leaving {
    opacity: 0;
    // transform: translateY(20px);
  }

}

.is-centered {
  text-align: center;
}
.is-parent-el--padding  {
  padding: 8em 0em;
}
.hdr--group {
  max-width: 880px;
  margin: auto;
  color: #2C2D3C;

  h1 {
    font-size: 4em;
    font-weight: bolder;
    line-height: 1;
  }
  h4 {
    font-size: 1.6em;
    font-weight: bolder;
    line-height: 1;
    padding-top: 0.3em;
    color: #DBDBDB;
  }
  p {
    color: #8E8E8E;
    font-size: 1.3em;
    margin-bottom: 0em;
  }
}

.is-black {
  background: #000000;
  color: white;
}

.has-lazy-image {
  position: relative;
  width: auto;
  height: 0px;
  padding-bottom: (1652 / 2048) * 100%;
  opacity: 0;
  transition: opacity 500ms ease;

  &.is-loaded {
    opacity: 1;
  }

  img {
    @include fill();
  }
}

.has-content--inner {
  padding: 3em 3em;
  h2 { font-size: 2.3em; }
}

@media(min-width: $md) {
  .grid-of-two {
    display: flex;
    align-items: center;

    &.is-reversed {
      flex-direction: row-reverse;
    }
  }
  .has-two-column {
    width: 50%;
  }
  .has-content--inner {
    padding: 4em;
  }
  
}