nav {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 9999;
  color: white;

  &.is-fixed {
    position: fixed;
    background: black;
  }
}

.menu-is-showing {
  nav {
    &.is-fixed {
      background: black;
    }
  }
}
.main-nav {
  width: 100%;
  top: 0; left: 0;
}
.nav--section {
  position: relative;
}
.is-top--section {
  padding: 1.5em 0em;
}

.sr-only { @include sr-only(); }

.mt-trigger {
  height: 40px;
  width: 35px;
  position: absolute;
  top: 50%; right: 0;
  margin-top: 2px;
  transform: translateY(-50%);
  cursor: pointer;

  span {
    height: 2px;
    width: 80%;
    left: 20%;
    background: white;
    position: absolute;
    transition: all 100ms ease;
  }
}

.mt-top { top: 8px; }
.mt-mid { top: 16px; }
.mt-btm { top: 24px; }

.nav-parent {
  display: none;
}

.menu-is-showing {
  nav {background: black;}
  .site--name { color: $primaryColor; }
  .mt-top { top: 16px; transform: rotate(45deg); width: 70%; left: 30% }
  .mt-mid { top: 16px; display: none; }
  .mt-btm { top: 16px; transform: rotate(-45deg); width: 70%; left: 30%}
}

nav.showing-items {
    .the-menu {
     @for $i from 1 through 10 {
        li {
        opacity: 1;
        transform: translate(-0px, -0px);
        &:nth-of-type(#{$i}) {
          transition-delay: 80ms * $i;
        }
      }
    }
  }
}


.the-menu {
  padding-bottom: 2em;
  padding-left: 0em;
  padding-top: 0em;
  padding-right: 0em;
  list-style-type: none;
  li { 
    margin-bottom: 1em; 
    font-size: 1.2em;
    opacity: 0;
    transform: translate(-5px, -15px);
    transition: transform 800ms, opacity 600ms ease;

    &:last-of-type {
      margin-bottom: 0em;
    }

  }
  a { 
    color: white; 
    transition: color 400ms ease;
    position: relative;
    &:hover { color: $primaryColor; }
    &.active {color: $primaryColor; }
    &:active {top: 1px;}
  }
  
}
.site--name a {
  color: white;
}
@media(min-width: $md) {

.menu-is-showing {
  nav {background: transparent;}
  .site--name { color: white; }
}
  .nav-parent {
    display: inline-block !important;

  }
  .is-top--section {
    padding: 0em 0em;
  }
  .mt-trigger {
    display: none;
  }
  .is-nav {
    float: right;
  }
  .the-menu {
    padding-bottom: 0em;
    li { 
      margin-bottom: 0em; 
      margin-left: 1.5em;
      display: inline-block;
      opacity: 1 !important;
      transform: translate(0px, 0px) !important;
    }
  }
  .nav--section {
    display: inline-block;
    padding: 1.5em 0em;
  }
}


.is-y {
  background: $primaryColor;
  padding: 0.6em 0em;
  position: relative;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  transition: transform 200ms ease;

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    stroke: #999999;
    cursor: pointer;
    backface-visibility: hidden;
    transition: stroke 200ms ease;
    &:hover {stroke: #000; transition: stroke 700ms ease;}
  }
  &.is--gone {
    transform: translateY(-100%);
  }
}
.email-container {
  max-width: 200px;
  width: 100%;
  display: inline-block;
  margin-right: 1em;
}

.signup input[type="email"] {
  width: auto;
  height: 30px;
  width: 100%;
  background: transparent;
  color: #444444;
  padding-left: 0.5em;
  border-radius: 0px !important;
  font-weight: bolder;
  border-bottom: 1px solid #444;

  &::placeholder {
    padding-left: 0em;
    color: #999999;
    font-weight: bolder;
  }
}
.signup input[type="submit"] {
  width: auto;
  font-weight: bolder;
  cursor: pointer;
}
.navbar-form {

  label { 
    margin-right: 1em;
    display: block;
    font-weight: bolder;
  }
}


@media(min-width: $md) {
  .navbar-form {
    padding-left: 1em;
    label {
      display: inline-block;
    }
  }
}